Create a Python connection with SQL database and retrieve the results of the following queries as dataframes:

How many distinct (different) actors' last names are there?
Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.
Get all films with ARMAGEDDON in the title.
Get 10 the longest films.
How many films include Behind the Scenes content?
Which kind of movies (rating) have a mean duration of more than two hours?
Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [20]:
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pymysql in /Users/maryramirez/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: sqlalchemy in /Users/maryramirez/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/maryramirez/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)

In [21]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score

import getpass  # To get the password without showing the input

In [22]:
password = getpass.getpass()

········

In [23]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM film', engine)
data.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

How many distinct (different) actors' last names are there?

In [24]:
query = 'SELECT  DISTINCT(last_name) \
FROM sakila.actor' 
data = pd.read_sql_query(query, engine)
data.head()

  last_name
0    AKROYD
1     ALLEN
2   ASTAIRE
3    BACALL
4    BAILEY

Add an additional column day_type with values 'weekend' and 'workday' depending on the rental day of the week.

In [49]:
query = """SELECT *, DATE_FORMAT(rental_date, '%a %v') as day_type \
FROM sakila.rental \
ORDER BY rental_date DESC"""
data = pd.read_sql_query(query, engine)
data.head()

TypeError: not enough arguments for format string

Get all films with ARMAGEDDON in the title.

In [46]:
query = "SELECT * \
FROM sakila.filmn \
WHERE title LIKE '%ARMAGEDDON%'"

data = pd.read_sql_query(query, engine)
data.head()

ValueError: unsupported format character 'A' (0x41) at index 46

Get 10 the longest films.

In [40]:
query = "SELECT DISTINCT(length) \
FROM sakila.film \
GROUP BY length \
HAVING MAX(length) > 100 \
ORDER BY length DESC \
LIMIT 10"

data = pd.read_sql_query(query, engine)
data.head()

   length
0     185
1     184
2     183
3     182
4     181

How many films include Behind the Scenes content?

In [42]:
query = "SELECT DISTINCT(special_features) \
FROM sakila.film \
WHERE title REGEXP 'beh'"
data = pd.read_sql_query(query, engine)
data.head()

                            special_features
0  Trailers,Deleted Scenes,Behind the Scenes
1    Trailers,Commentaries,Behind the Scenes
2                 Trailers,Behind the Scenes

Which kind of movies (rating) have a mean duration of more than two hours?

In [47]:
query = "SELECT DISTINCT(Rating) \
FROM sakila.film \
WHERE length > 2"

data = pd.read_sql_query(query, engine)
data.head()

  Rating
0     PG
1      G
2  NC-17
3  PG-13
4      R

Rank films by length (filter out the rows that have nulls or 0s in length column). In your output, only select the columns title, length, and the rank.

In [48]:
query = "SELECT title, length, rating \
FROM sakila.film \
WHERE length is not null \
ORDER BY title"

data = pd.read_sql_query(query, engine)
data.head()

              title  length rating
0  ACADEMY DINOSAUR      86     PG
1    ACE GOLDFINGER      48      G
2  ADAPTATION HOLES      50  NC-17
3  AFFAIR PREJUDICE     117      G
4       AFRICAN EGG     130      G